* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0;
    width: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
html {
    width: 100%;
    overflow-x: hidden
}

body {
    margin: 0em;
    overflow-x: hidden;
    background-color: #141268 !important;
    font-family: 'Raleway', sans-serif !important;
    background-image: url("images/rsz_pexels-david-geib-3220861.jpg");
    background-attachment: fixed;
    background-size: cover
}


.navbar {
    min-height: 4em;
    width: 100%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.navbar>img{
    height: 4em
}
.nav-link {
    margin-right: 1em !important;
    border: 1px solid #D66E15;
    background-color: #D66E15;
    
}

.nav-link>i {
    margin-right: 1em
}

.nav-link:hover {
    background: #fff;
    color: #D66E15;
    border: 1px solid #fff
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff!important;
}

.custom-toggler.navbar-toggler {
    border-color: #000;
}


/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.head{
  margin-top: 12em  
}
.head>h5{
    margin-bottom: 1em;
    color: white;
    font-weight: bold
}
.head>h4{
    color: #FFFF00;
    font-weight: bold;
    margin-bottom:3em
}
.place{
    margin-bottom: 0em
}
table{
    background-color: white;
    border-color: white !important;
    max-width: 40em !important;
    text-align: center;
    line-height: 1px !important;
}
tr,td,th{
    border-color: white !important;
}
.tag{
    color: #d66e15;
    font-weight: bold;
    font-size: 1.2em;
}
.tag1{
    font-size: 0.8em
}
.date{
    position: relative;
    bottom: 1em;
    left: 15em;
    border-top: 1px solid grey
}
@media only screen and (max-width: 600px){
    body{
        background-image: url("images/rsz_pexels-david-geib-32208612.jpg");
         }
    table{
    max-width: 15em !important;
        
    }
    .tag{
        font-size: 1em
    }
    .date{
        position: relative;
        left: 6em
    }
}
@media only screen and (max-width: 768px){
    body{
        background-image: url("images/rsz_pexels-david-geib-32208613.jpg");
    }
    table{
    max-width: 25em !important;
        
    }
    .tag{
        font-size: 1em
    }
    .date{
        position: relative;
        left: 12em
    }
}