* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0;
    width: 100%
}

@import url('https://fonts.googleapis.com/css?family=orbitron&display=swap');
html {
    width: 100%;
    overflow-x: hidden
}

body {
    margin: 0em;
    overflow-x: hidden;
    background-color: #fff
}

.navbar {
    background-color: black;
    min-height: 4em;
    width: 100%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.navbar>img{
    height: 4em
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link>i {
    margin-right: 1em
}

.nav-link:hover {
    background: #fff;
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff!important;
}

.custom-toggler.navbar-toggler {
    border-color: #000;
}


/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#wrap{
   margin-top: 5em
    }
    legend{
        color:#141823;
        font-size:25px;
        font-weight:bold;
    }
    .signup-btn {
      border-radius: 4px;
      text-shadow: 0px 1px 0px #898a88;
      box-shadow: 0px 0px 0px #a4e388;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      border: solid orangered 1px !important;
      text-decoration: none;
      background-color: orangered !important;
    }
    
    .signup-btn:hover {
      text-decoration: none;
    }
  
    .form .form-control { margin: 1em; }
    @media (min-width:768px) {
        #home{
            margin-top:50px;
        }
        #home .slogan{
            color: #0e385f;
            line-height: 29px;
            font-weight:bold;
        }
    }